{{> head}}

{{> nav}}

<div class="row">
   
    <div class="col-8">
        <h1>Foto de tara</h1>
        <p>Tara es una gata.</p>
    </div>

    <div class="col-4">
        <img src="assets/img/DSC_0001 - copia.JPG" class="img-thumbnail" width="250" height="250">
    </div>

</div>

{{>footer}}